**/.DS_Store
*-debug.log
*-error.log
/.idea
/.claude
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
node_modules
oclif.lock
oclif.manifest.json
.eslintcache
reforge.*.config.json
tsconfig.tsbuildinfo
.oprc
generated/*
src/reforge
.yarn/install-state.gz
test-*.sh
